@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&display=swap');

:root {
	--bg: #282828;
	--fg: #c9cfdb;
	--red: #e06c75;
	--green: #98c389;
	--blue: #4194D9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

a{
	color: inherit;
	text-decoration: inherit;
}

.blue {
	color: var(--blue);
}

.red {
	color: var(--red);
}

.green {
	color: var(--green);
}

.sm {
	font-size: 1rem;
}

.jet {
	font-family: 'Jetbrains Mono', monospace;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Nunito', sans-serif;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2rem 3rem;
}

.logo {
	max-height: 3rem;
	margin-right: auto;
}

.nav-link {
	margin-inline: 1rem;
	color: inherit;
	text-decoration: none;
}

button {
	padding: 0.7rem 0.9rem;
	border-radius: 10px;
	border: 1px solid var(--blue);
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	letter-spacing: 1px;
}

#theme-label{
	margin-inline: 1rem;
}

#theme-check{
	display: none;
}

main {
	width: 100%;
	display: grid;
	justify-items: center;
}

.home {
	min-height: calc(100vh - 200px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.3rem;
}

.nome {
	font-size: 5rem;
	font-weight: 800;
}

.desc {
	max-width: 40ch;
	line-height: 2rem;
	margin-bottom: 1rem;
}

/* Sobre */
section {
	min-height: 100vh;
	max-width: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	gap: 2rem;
}

.section-title {
	display: flex;
	align-items: baseline;
	font-size: 2.5rem;
}

hr.red {
	align-self: center;
	width: 100%;
	margin-left: 2rem;
	border: 1px solid var(--red);
}

hr.green {
	align-self: center;
	width: 100%;
	margin-left: 2rem;
	border: 1px solid var(--green);
}

hr.blue {
	align-self: center;
	width: 100%;
	margin-left: 2rem;
	border: 1px solid var(--blue);
}

.left p {
	font-size: 1.2rem;
	margin: 1rem 0;
}

.langs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.img {
	width: 400px;
	border: 3px solid var(--red);
	border-radius: 10px;
	display: flex;

	position: relative;
}

.img > img {
	width: 100%;
	border-radius: 6px;
}

.img-deco {
	width: 400px;
	height: 400px;
	border: 3px solid var(--red);
	border-radius: 10px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: -1;
}

/* Projeto */
.projeto {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

.projeto .section-title {
	align-self: flex-start;
	width: 480px;
}

.projeto .row {
	position: relative;
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	align-items: center;
}

.row .proj-img {
	position: relative;
	grid-column: 1 / 7;
	grid-row: 1 / 1;
	z-index: -2;

	border-radius: 10px;

	overflow: hidden;
	display: grid;
}

.proj-img img {
	width: 100%;
}

.row .desc-proj {
	position: relative;
	width: 100%;
	max-height: 150px;
	grid-column: 5 / -1;
	grid-row: 1 / 1;
	z-index: 2;
}

.desc-proj > p {
	background-color: var(--green);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 2rem;
	color: #282828;
}

.reverse .proj-img {
	grid-column: 5 / -1;
}

.reverse .desc-proj {
	grid-column: 1 / 7;
}

.row h1 {
	text-align: end;
	margin-bottom: 1rem;
}

.reverse h1 {
	text-align: start;
}

.row .stack {
	display: flex;
	justify-content: end;
	padding: 1rem;
	gap: 1rem;
}
.reverse .stack {
	justify-content: start;
}

/* contato */

.contato {
	min-height: 500px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contato > * {
	max-width: 500px;
}

.contato .section-title {
	align-self: flex-start;
	width: 450px;
}

.contato .nome{
	font-size: 3rem;
}