@media only screen and (max-width: 1200px) {
	body{
		overflow-x: hidden;
	}
	header{
		padding: 2rem;
	}
	main{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	section{
		max-width: 90vw;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.nav{
		display: none;
	}
	.home{
		padding-bottom: 10rem;
	}
	.home .nome{
		font-size: 3rem;
	}
	.sobre{
		display: flex;
		flex-direction: column;
		min-height: 500px;
		max-width: min-content;
	}

	img{
		max-width: 80vw;
	}

	.img{
		width: 70vw;
	}

	.img-deco{
		width: 70vw;
		aspect-ratio: 1;
	}

	.projeto{
		display: flex;
		flex-direction: column;
	}

	.projeto .row{
		max-width: 500px;
		display: flex;
		flex-direction: column;
	}

	.desc-proj{
		max-width: 90vw;
	}
	hr{
		display: none;
	}
	.row{
		padding: 0;
		margin-top: 5rem;
	}
}