/* Importar fonte 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #aaa;
    height: 50px;
    margin-bottom: 100px;
}
ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color: black;
}

main{
    display: flex;
    justify-content: space-around;
}
section{
    background-color: #888;
    max-width: 60vw;
    border: 5px solid;
    text-align: center;
}

article img{
    width: 80%;
    margin: 5% 10%;
    border: solid;
}